body {
    background-image: url("../img/pattern.jpg");
    background-repeat: repeat;
    margin: 0;
}

nav {
    width: 100%;
    position: fixed;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: white;
}
nav ul li {
    float: right;
}
nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: lightgrey;
}

section {
    background-color: white;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 50px;
}
section h1 {
    text-align: center;
}
section #article-list div {
    border-bottom: 1px solid black;
    padding: 8px;
}

.kotak-luar {
    max-width: 600px;
    background-color: white;
    border-right: 2px solid black;
    padding: 8px;
    margin: 32px auto;
}

.kotak {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 16px;
}
.kotak h2, .link {
    text-align: center;
}

 /* FOOTER */
footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
footer h5 {
    padding: 32px;
}